<footer class="ftr">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; CodeOverflow 2021</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks ftr-list">
                    <li><a href="./privacy.html">Privacy Policy</a></li>
                    <li><a href="./tos.html">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
