<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Developer Forum</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="section.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="thread.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <script src="./bootstrap/js/bootstrap.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="index.js" type="module" defer></script>
</head>
<body>
    <div id="navbar-placeholder"></div>
    <div class="container content-root-div">
        <div class="section-title">
            <h1>News</h1>
            <button id="new-thread-btn" class="btn btn-primary btn-right">New thread</button>
        </div>
        <div class="list-group thread-container" id="thread-container">
            <p class="no-threads-label" id="no-threads-label">No threads yet</p>
        </div>
    </div>
    <div id="footer-placeholder"></div>
</body>

</html>